<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ml-2 px-3" href="#"> TMS </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a  class="nav-link"  *ngIf="authService.isAuthenticated()" [routerLink]="['/user']" >All Users</a>
      </li>
      <li class="nav-item ">
        <a  class="nav-link" *ngIf="authService.isAuthenticated()" [routerLink]="['/feature']" >All Feature</a>
      </li>
      <li class="nav-item ">
        <a  class="nav-link" *ngIf="authService.isAuthenticated()"  [routerLink]="['/task']" >All Task</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="reportDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Report</a>
        <div class="dropdown-menu" aria-labelledby="reportDropdown">
          <a  class="dropdown-item" [routerLink]="['/task']">My Tasks</a>
          <a   class="dropdown-item" [routerLink]="['/feature']">My Feature</a>
        </div>
      </li>
      
      <li class="nav-item">
        <a  class="nav-link" [routerLink]="['/new-feature']" >Create Feature</a>
      </li>
   
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="reportDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Create Tasks</a>
        <div class="dropdown-menu" aria-labelledby="reportDropdown">
          <a  class="dropdown-item" [routerLink]="['/new']">Create Task</a>
          <a  class="dropdown-item" [routerLink]="['/new-sub']">Create Sub-Task</a>
          <a   class="dropdown-item" [routerLink]="['/new-dep']">Create Dependent-Task</a>
        </div>
      </li> -->
      
      <!-- <li>
        <a  class="nav-link"  (click)="logout()">Logout</a>
      </li> -->
      <!-- <li>
        <a  class="nav-link"  [routerLink]="['/login']">Login</a>
      </li>
      <li>
        <a  class="nav-link"  [routerLink]="['/register']">Register</a>
      </li> -->
    

      
      <li  class="nav-item mt-1" >
        <a *ngIf="authService.isAuthenticated()" class="btn btn-primary btn-sm"  (click)="logout()">Log out</a>
      </li>
      
    </ul>
 
    
    
   
    <div >

  </div>
  </div>
</nav>

<div class="p-5 bg-image" appScrollBackground> 
<router-outlet></router-outlet>
</div>
